<!DOCTYPE html>
<html>
  <head>
    <title>AllJourneys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="AllJourneys" />
     <meta property='og:image' content="<%= image_url('/alljourneys/app/assets/images/CompletedHomepage.png') %>"/>
     <meta property="og:description"
       content="AllJourneys is a Alltrails clone where users can search for trails and parks around the world. The backend for AllJourneys is built using the Ruby on Rails framework, a PostgreSQL database and Amazon AWS S3 for image storage. The frontend for AllJourneys is built from React, with Redux to manage the frontend state. Additionally, JQuery is used to make AJAX calls to the backend."
     />
     <meta property="og:url"
       content="https://alljourneys.herokuapp.com/#/"
     />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=icon href="https://alljourneys-dev.s3.amazonaws.com/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&family=Montserrat:wght@400;500;600;700&family=Varela+Round&display=swap" rel="stylesheet">  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
